@{
    ViewData["Title"] = "Anasayfa";
}

<div id="list">
</div>

<div> <p> <b id="tst"></b> tarihine kadar ki etkinlikler gösteriliyor. <a href="#" id="more"> Daha fazlasını ara </a></p>  </div>
@section scripts{

    <script>
        //Variables
        var me = 1;
        const oneYearFromNow = new Date();

        var day = oneYearFromNow.getDate();
        var month = oneYearFromNow.getMonth() + 1;
        var year = oneYearFromNow.getFullYear();

        if (!window.location.hash) {
            $("#list").load("Home/List");
        }


        $("#tst").html(`${day}/${month}/${year + 1}`);

        $("#more").click(function () {
            me += 1;

            $("#tst").html(`${day}/${month}/${year + me}`);
            $("#list").load("Home/List", { i: me });


        });

    </script>
}
