@{
    ViewData["Title"] = "Geri Dönüş Yapamayanlar";
}

<div id="list">
</div>

@section scripts{

    <script>
        var me = 1;
        const oneYearFromNow = new Date();

        var day = oneYearFromNow.getDate();
        var month = oneYearFromNow.getMonth() + 1;
        var year = oneYearFromNow.getFullYear();

        if (!window.location.hash) {
            $("#list").load("Home/List");
        }


        $("#tst").html(`${day}/${month}/${year + 1}`);

     

    </script>
}
